domain_trans(init, rootfs, cpboot-daemon)
domain_trans(init, rootfs, exyrngd)

domain_trans(init, cpboot-daemon_exec, cpboot-daemon)
domain_trans(init, exyrngd_exec, exyrngd)
domain_trans(init, gpsd_exec, gpsd)

allow init emmcblk_device:blk_file rw_file_perms;
