recovery_only(`
  permissive recovery;

  allow recovery system_radio_prop:property_service set;
  allow recovery default_prop:property_service set;
  allow recovery vold_prop:property_service set;
  allow recovery vold_prop:property_service set;

  allow recovery emmcblk_device:dir r_dir_perms;
  allow recovery dm_device:chr_file { read write getattr ioctl };
  allow recovery mtp_device:chr_file rw_file_perms;

  allow recovery device:dir rw_dir_perms;
  allow recovery device:file rw_file_perms;

  allow recovery tmpfs:chr_file rw_file_perms;
  allow recovery rootfs:lnk_file { create rename unlink };
  allow recovery rootfs:fifo_file r_file_perms;

  allow recovery media_rw_data_file:file rw_file_perms;
  allow recovery media_rw_data_file:{ dir file lnk_file } { setattr relabelto relabelfrom };
')
