# Allow additiional efs access
allow rild bin_nv_data_efs_file:file create_file_perms;
allow rild imei_efs_file:dir r_dir_perms;
allow rild imei_efs_file:file r_file_perms;
allow rild app_efs_file:file { getattr read open };

allow rild sysfs:file rw_file_perms;

allow rild gpsd:dir r_dir_perms;
allow rild gpsd:file r_file_perms;
