[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	read = group Note 4 Exynos
	create = group Note 4 Exynos
	push = +force group Note 4 Exynos
	label-Code-Review = -2..+2 group Note 4 Exynos
	label-Verified = -1..+1 group Note 4 Exynos
	rebase = group Note 4 Exynos
	submit = group Note 4 Exynos
	forgeAuthor = group Note 4 Exynos
	forgeCommitter = group Note 4 Exynos
